.settings
.metadata
.checkstyle
bin
target
*.log
*.zip
*.class
*.gz
*.bak
.log
*.box
.idea
*/gensrc/*
*.iml
.vlt*
*.swp

lib
classes
.ruleset
gensrc
testclasses

*.DS_Store

nohup.out
out
dinnerDb
file-uploads
gradle
.gradle
build
